<ion-content>
  <ion-row>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
    <ion-col col-md-8 col-sm-10>
      <ion-row>
        <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
        <ion-col col-md-8 col-sm-10>
          <img id="img-logo" src="assets/imgs/logo_2.png" />
        </ion-col>
        <ion-col col-md-2 col-md-2 col-sm-1 class="hidden-xs"></ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
    <ion-col col-md-8 col-sm-10>
      <div class="panel panel-send-reset-code">
        <div class="panel-heading">
          <ion-row>
            <ion-col col class="text-center" style="background-color:#1281c8; color:white">
              <span>Trimite cod restare parola</span>
            </ion-col>
          </ion-row>
        </div>
        <div class="panel-body">
          <ion-row>
            <ion-col col-lg-12>
              <form (ngSubmit)="sendResetCode()" #sendRestCodeForm="ngForm" [formGroup]="sendRestCodeFormData">
                <ion-row>
                  <ion-col>
                    <ion-list inset>
                      <ion-item>
                        <ion-input type="text" placeholder="Email" name="email" formControlName="email"></ion-input>
                      </ion-item>
                      <div class='form-text error' *ngIf="sendRestCodeFormData.controls.email.touched">
                        <ion-label *ngIf="sendRestCodeFormData.controls.email.hasError('required')" no-margin stacked wrap-text>Va rugam introduceti un email</ion-label>
                        <ion-label *ngIf="!sendRestCodeFormData.controls.email.hasError('required') && !sendRestCodeFormData.controls.email.valid" no-margin
                          stacked wrap-text>Email-ul introdus nu este corect</ion-label>
                      </div>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="login-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!sendRestCodeForm.form.valid">Trimite cod resetare</button>
                    <div class="button register-btn" style="color:black; width:100%;" block clear (click)="goToResetPassword()">
                      <p>Reseteaza parola</p>
                    </div>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
  </ion-row>
</ion-content>