<ion-content>
  <ion-row>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
    <ion-col col-md-8 col-sm-10>
      <ion-row>
          <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
          <ion-col col-md-8 col-sm-10>
              <img id="img-logo" src="assets/imgs/logo_2.png"/>
          </ion-col>
          <ion-col col-md-2 col-md-2 col-sm-1 class="hidden-xs"></ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
    <ion-col col-md-8 col-sm-10>
      <div class="panel panel-login">
        <div class="panel-heading">
          <ion-row>
            <ion-col col class="text-center" style="background-color:#1281c8; color:white">
              <span>Logare</span>
            </ion-col>
          </ion-row>
        </div>
        <div class="panel-body">
          <ion-row>
            <ion-col col-lg-12>
              <form (ngSubmit)="login()" #loginForm="ngForm" [formGroup]="loginFormData">
                <ion-row>
                  <ion-col>
                    <ion-list inset>
                      <ion-item>
                        <ion-input type="text" placeholder="Email" name="email" formControlName="email"></ion-input>
                      </ion-item>
                      <div class='form-text error' *ngIf="loginFormData.controls.email.touched">
                          <ion-label *ngIf="loginFormData.controls.email.hasError('required')" no-margin stacked wrap-text>Va rugam introduceti un email</ion-label>
                          <ion-label *ngIf="!loginFormData.controls.email.hasError('required') && !loginFormData.controls.email.valid" no-margin stacked wrap-text>Email-ul introdus nu este corect</ion-label>
                        </div>
                      <ion-item>
                        <ion-input type="password" placeholder="Parola" name="password" formControlName="password"></ion-input>
                      </ion-item>
                      <div class='form-text error' *ngIf="loginFormData.controls.password.touched">
                          <ion-label *ngIf="loginFormData.controls.password.hasError('required')" no-margin stacked wrap-text>Va rugam introduceti o parola</ion-label>
                        </div>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="login-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Logare</button>
                    <div class="button register-btn" style="color:black; width:100%;" block clear (click)="createAccount()">
                      <p>Cont nou</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="text-center">
                      <a (click)="goToSendResetCode()">Ai uitat parola?</a>
                    </ion-col>
                  </ion-row>
              </form>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
    <ion-col col-md-2 col-sm-1 class="hidden-xs"></ion-col>
  </ion-row>
</ion-content>