eBarService/eBarDatabase/.vs/eBarDatabase/v15/.suo
eBarService/.vs/eBarService/v15/sqlite3/storage.ide
eBarService/eBarDatabase/bin/
eBarService/eBarDatabase/obj/Debug/DBModels.csproj.FileListAbsolute.txt
eBarService/eBarDatabase/obj/Debug/DBModels.csproj.CoreCompileInputs.cache
eBarService/eBarDatabase/obj/Debug/DBModels.csproj.CopyComplete
eBarService/eBarWS/bin/
eBarService/eBarDatabase/obj/Debug/eBarDatabase.pdb
eBarService/eBarDatabase/obj/Debug/eBarDatabase.dll
eBarService/eBarDatabase/obj/
eBarService/eBarWS/obj/Debug/
eBarService/ViewModelsEbar/obj/
eBarService/ViewModelsEbar/bin/
DB_Creation/.vs/DB_Creation/v15/.suo
eBarService/.vs/eBarService/v15/.suo
eBarMobileApp/.idea/codeStyles/Project.xml
eBarIonic/package-lock.json
eBarService/eBarDatabase/eBarDatabase.csproj.user
eBarService/eBarWS/Logs/
eBarService/eBarWS/App_Data/BodyPart_dc5e1bd0-b26e-4663-96aa-573b51a4102a
eBarService/eBarPortal/bin/
eBarService/eBarPortal/obj/eBarPortal.csproj.nuget.cache
eBarService/eBarPortal/obj/
