page-index {
    .pr-res-img img{
        width: 100%;
        height:100%;
    }
    @media (max-width: 1600px)
    {
        .pr-res-img img{
            width: 100%;
            height:280px;
        }
    }

    .rest-details
    {
        padding-top: 1%;
    }

    .has-refresher > .scroll-content
    {
        border-top:none;
    }

    .rest-details-text
    {
        font-size: 17px !important;
        color:black !important;
    }
  
    .rest-title
    {
        font-size: 40px !important;
        color:black !important;
    }

    @media (max-width: 1200px)
    {
        .pr-res-img img{
            width: 100%;
            height:240px;
        }

        .rest-details-text
        {
            font-size: 14px !important;
            color:black !important;
        }
    
        .rest-title
        {
            font-size: 30px !important;
            color:black !important;
        }
    }

    @media (max-width: 768px)
    {
        .rest-full-details
        {
            font-size: 14px !important;
        }
        .rest-details-text
        {
            font-size: 12px !important;
            color:black !important;
        }

        .pr-res-img img{
            width: 100%;
            height:100%;
        }
    
        .rest-title
        {
            font-size: 20px !important;
            color:black !important;
        }
    }

    .rest-card-category
    {
        border:1px solid #1281c8;
        border-radius: 0.8rem;
        margin-left:5%;
        text-align: center !important;
        cursor:pointer;
    }
    .rest-card-categories
    {
        padding-top:2%;
    }

    .rest-full-details
    {
        padding-top:5%;
        font-size: 16px;
        cursor:pointer;
    }
}
