<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <appSettings>
   <add key="ConnectionString" value="data source=DESKTOP-A59K9SV;initial catalog=master;user id=sa;password=Smart123;"/>
   <add key="DatabaseScriptsDirectory" value="C:\Users\Epy\Desktop\eBar\eBarDatabaseScripts\DatabaseCreation"/>
   <add key="TestDataScriptsDirectory" value="C:\Users\Epy\Desktop\eBar\eBarDatabaseScripts\DatabaseTestData"/>
   <add key="DatabaseName" value="eBar"/>
 </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
