#eBarLogo
{
    // width: 20%;
    width:160px;
}
#eBarLogo:hover
{
    cursor: pointer;
}

.user-dropdown {
    display: none;
    position: absolute;
    margin-top: 4em;
    height: 30px;
    background-color: #f8f8f8;
    min-width: 100px;
}
.user-dropdown a:hover {background-color: #ddd}
.user-dropdown a{font-size: 18px;}
.user-data:hover .user-dropdown {
    display: block;
}

.user-data
{
    display:none;
    width:100px;
    max-width: 5em;
}
#user-avatar{
    clear: both;
    float: left;
    margin: auto;
    width: 100%;
}

#hello-username{
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
    margin:auto;
}

.list-md .item-block .item-inner
{
    padding-bottom: 1%;
    border-bottom: 1px solid #1281c8;
}

.header-logo
{
    height:80px;
}

.error {
    color: #FF4500;
    font-size: small;
}

.toolbar-title
{
    width:180px;
}

.ion-page
{
    margin-top:11rem;
}

.toolbar-content-md
{
    display: flex;
}

.toggle-menu
{
    display:none;
}

.register-btn
{
    border:1px solid #1281c8;
    border-radius:0.8rem;
    height: 50px;
    margin-top: 5%;
}

.bordered-btn{
    border:1px solid #1281c8;
    border-radius:0.8rem;
    height: 50px;
}

.login-btn
{
   // border:1px solid #1281c8;
   // border-radius:0.8rem;
    height: 50px;
    margin-top: 5%;
}

.ebar-header
{
    border-bottom: 3px solid #1281c8;
}
.bar-buttons-md
{
    padding-right: 10px;
}

.ebar-container
{
    margin-right: auto;
    margin-left: auto;
    padding-right: 17%;
    padding-left: 17%;
    width: 100%;
}

.text-center
{
    text-align: center !important;
    justify-content: center !important;
}

a:hover{
    color:#0056b3;
    text-decoration: underline;
}

.img-clickable
{
    cursor: pointer;
}

@media(max-width: 1000px)
{
    .map-pin.location-pin
    {
        margin-left: -12rem !important;
        margin-top: -1% !important;
        width:18px;
        height:18px;
    }

    .map-pin.location-pin::after
    {
        margin-left: -4px !important;
        margin-top: -3px !important;
        width:7px;
        height:7px;
    }
}

@media(max-width: 500px)
{
    .map-pin.location-pin
    {
        margin-left: -10rem !important;
        margin-top: -1% !important;
        width:15px;
        height:15px;
    }

    .map-pin.location-pin::after
    {
        margin-left: -4px !important;
        margin-top: -3px !important;
        width:6px;
        height:6px;
    }

    .rest-card-category
    {
        float: left;
        width: 100%;
    }
}

@media (max-width: 768px)
{
    .ebar-container
    {
        padding-right: 10%;
        padding-left: 10%
    }

    .bar-buttons-md
    {
        display: none;
    }
    
    .toggle-menu
    {
        display:block;
    }

    .map-pin
    {
        margin-left: -11rem !important;
        margin-top: -2% !important;
    }

    .hr-text p
    {
        font-size: 16px !important;
    }

    .hr-text
    {
        height: 2em !important;
        padding-top: 0.2em !important;
    }
}

@media (max-width: 1200px)
{
    .ebar-container
    {
        padding-right: 14%;
        padding-left: 14%
    }

    .map-pin
    {
        margin-left: -13rem;
        margin-top: -1%;
    }

    .hr-text p
    {
        font-size: 18px !important;
    }

    .hr-text
    {
        height: 2em !important;
        padding-top: 0.2em !important;
    }
}

.map-pin {
    position: absolute;
    left: 50%;
    margin-left: -15rem;
    border-radius: 50% 50% 50% 0;
    border: 3px solid #e3135e;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
  }
  
  .map-pin::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -4px;
    background-color: #e3135e;
  }

  .hr-text::before
  {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
    background: linear-gradient(to right, transparent, #818078, transparent);
    left: 0em;
    position: absolute;
    top: 45%;
    width: 40%;
    height: 1px;
  }

  .hr-text::after
  {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    right: 0rem;
    top: 45%;
    width: 40%;
    height: 1px;
  }

  .hr-text{
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #000;
    text-align: center;
    height: 3em;
    opacity: .5;
    padding-top: 0.5em;
  }

  .hr-text p{
    font-size: 20px;
  }

  .rest-basic-details
  {
      padding-top: 5px;
  }

  @media (max-width: 575px) {
    .hidden-xs{
        display: none !important;
    }
}