ion-navbar {
  height: 10rem;
}

.toolbar-content.toolbar-content-md {
  display: flex;
}

ion-navbar.toolbar {
  height: 100%;
}

.toolbar-title {
  width: 160px;
}

#eBarLogo {
  // width: 20%;
  width: 150px;
}

#eBarLogo:hover {
  cursor: pointer;
}

ion-menu .scroll-content {
  overflow-y: hidden;
}

ion-menu {
  margin-top: 8rem;
}

.split-pane-md.split-pane-visible>.split-pane-side {
  max-width: 35rem;
}

ion-nav .scroll-content {
  // top:2rem !important;
  overflow-y: scroll;
  height: calc(100vh - 10rem);
}

.toggle-menu {
  display: none;
}

.error {
  color: #FF4500;
  font-size: small;
}

.text-center {
  text-align: center !important;
  justify-content: center !important;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.img-clickable {
  cursor: pointer;
}

.ebar-header {
  border-bottom: 3px solid #1281c8;
  height: 8rem;
}

.bar-buttons-md {
  padding-right: 10px;
}

.ion-page.show-page {
  margin-top: 10rem;
}

.register-btn {
  border: 1px solid #1281c8;
  border-radius: 0.8rem;
  height: 50px;
  margin-top: 5%;
}

.bordered-btn {
  border: 1px solid #1281c8;
  border-radius: 0.8rem;
  height: 50px;
}

.login-btn {
  // border:1px solid #1281c8;
  // border-radius:0.8rem;
  height: 50px;
  margin-top: 5%;
}

.map-pin {
  position: absolute;
  left: 50%;
  margin-left: -15rem;
  border-radius: 50% 50% 50% 0;
  border: 3px solid #e3135e;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.map-pin::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -4px;
  background-color: #e3135e;
}

.hr-text::before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, transparent, #818078, transparent);
  left: 0em;
  position: absolute;
  top: 45%;
  width: 40%;
  height: 1px;
}

.hr-text::after {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  right: 0rem;
  top: 45%;
  width: 40%;
  height: 1px;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #000;
  text-align: center;
  height: 3em;
  opacity: .5;
  padding-top: 0.5em;
}

.hr-text p {
  font-size: 20px;
}

.rest-basic-details {
  padding-top: 5px;
}

.display-none {
  display: none;
}

.display-block {
  display: block !important;
}

.user-dropdown {
  display: none;
  position: absolute;
  margin-top: 4em;
  height: 30px;
  background-color: #f8f8f8;
  min-width: 100px;
}

.user-dropdown a:hover {
  background-color: #ddd
}

.user-dropdown a {
  font-size: 18px;
}

.user-data:hover .user-dropdown {
  display: block;
}

.user-data {
  display: none;
  width: 100px;
  max-width: 5em;
}

.panou-administrare .sidebar .nav>li>a {
  text-align: center;
  clear: both;
}

/////
/* Sidebar navigation */

.content-box,
.content-box-large {
  margin-bottom: 30px;
  background: #fff;
  border-radius: 10px;
  padding: 10px; // border-left:1px solid #eee;
  // border-top:1px solid #eee;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  height: calc(100vh - 75px);
}

.content-box-large {
  padding: 20px;
}

.box-with-header {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.content-box-header {
  min-height: 40px;
  font-size: 16px;
  background: #f5f5f5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 2px solid #eee;
}

.content-box-header:after {
  clear: both;
}

.sidebar .item-md.item-block .item-inner {
  border-bottom: none;
}

.sidebar ion-list.nav,
.sidebar ion-list.nav ion-list {
  list-style: none;
  padding: 2rem;
  margin: 0px;
  overflow-y: scroll;
  height: calc(100vh - 25rem);
}

.sidebar ion-list.nav ion-list {
  margin: 0px;
  padding: 0px;
  display: none;
}

.sidebar .nav>ion-item {
  //  margin-top: 1em;
  border-bottom: 1px dashed #eee;
  height: 7rem;
}

.item-md ion-avatar[item-left],
.item-md [item-left] {
  margin: 0px;
}

.sidebar .nav>ion-item:last-child {
  border-bottom: 0px;
}

.sidebar .nav>.item-md h2 {
  margin: 0;
}

.sidebar .nav>.item-md h2 {
  padding-left: 25px;
}

.sidebar .nav>.item-md h2 {
  font-size: 14px;
  line-height: 20px;
  padding: 15px 15px;
  color: #999;
  display: block;
  font-weight: bold;
  background: none;
  text-decoration: none;
  border-top: 0px;
  font-weight: bold;
}

//  .sidebar .nav > li > a > i{
//     margin-right:5px;
//  }
.sidebar .nav>ion-item.active>.item-md h2 {
  background: #fff;
  border-top: 0px;
  color: #555;
}

.sidebar .nav>ion-item:hover {
  cursor: pointer;
}

.sidebar .nav>.item-md h2:hover {
  background: #fff;
  color: #0056b3;
  border-bottom: 0px;
  cursor: pointer;
}

.item-md ion-avatar[item-left]:hover+.item-inner .input-wrapper .label-md h2 {
  background: #fff;
  color: #0056b3;
  border-bottom: 0px;
}

.sidebar .nav .admin-menu-icon {
  margin-right: 1em;
  float: left;
  border-radius: 25%;
  cursor: pointer;
} /////////////////  Panel CSS  ////////////////////////////////
.ebar-panel {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.ebar-panel .panel-body {
  padding: 2rem;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ebar-panel>.ebar-panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

// .scroll-content { position: fixed; }
#ebar-panel-img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
}

.control-label-value {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
  font-size: 14px;
}

@media(max-width: 575px) {
  .map-pin.location-pin {
    margin-left: -10rem !important;
    margin-top: -1% !important;
    width: 15px;
    height: 15px;
  }
  .map-pin.location-pin::after {
    margin-left: -4px !important;
    margin-top: -3px !important;
    width: 6px;
    height: 6px;
  }
  .rest-card-category {
    float: left;
    width: 100%;
  }
  .toggle-menu {
    display: block;
  }
  .hidden-xs {
    display: none !important;
  }
  .auth-bottons {
    width: 15rem;
    margin-top: 3%;
  }
  .register-btn {
    width: 12rem;
    height: 4rem;
    span {
      font-size: 12px;
      white-space: normal;
    }
  }
  .login-btn {
    height: 2rem;
    span {
      font-size: 12px;
    }
  }
}

@media (max-height: 750px) {
  .sidebar ion-list.nav,
  .sidebar ion-list.nav ion-list {
    padding: 1rem;
    height: calc(100vh - 25rem);
  }
  .sidebar .nav>ion-item {
    //  margin-top: 1em;        
    height: 5.5rem;
  }
}

@media (max-width: 768px) {
  .map-pin {
    margin-left: -11rem !important;
    margin-top: -2% !important;
  }
  .hr-text p {
    font-size: 16px !important;
  }
  .hr-text {
    height: 2em !important;
    padding-top: 0.2em !important;
  } ///////SIDEBAR////////////
  .split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 25rem;
  }
}

@media(max-width: 1000px) {
  .map-pin.location-pin {
    margin-left: -12rem !important;
    margin-top: -1% !important;
    width: 18px;
    height: 18px;
  }
  .map-pin.location-pin::after {
    margin-left: -4px !important;
    margin-top: -3px !important;
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 1200px) {
  .map-pin {
    margin-left: -13rem;
    margin-top: -1%;
  }
  .hr-text p {
    font-size: 18px !important;
  }
  .hr-text {
    height: 2em !important;
    padding-top: 0.2em !important;
  }
}

///////////////user profile ///////////
#user-avatar {
  clear: both;
  float: left;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50% !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid #1071af;
}

#hello-username {
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
  margin: auto;
}

.profile-userpic {
  padding-top: 0px;
  padding-bottom: 0px;
  img {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
}

.profile-usertitle {
  text-align: center;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
}

.profile-userbuttons {
  text-align: center;
  .user-profile-btn {
    white-space: normal;
    text-transform: none;
  }
  .logout-btn {
    margin-left: 1rem;
    white-space: normal;
    text-transform: none;
  }
}

ion-header {
  height: 16rem;
}

ion-header ion-toolbar {
  height: 16rem;
}

.toolbar-background-md {
  background-color: white;
}